* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/*Header*/
header {
  margin: 20px 20px 100px 20px;
  position: relative;
}
header nav a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  margin: 15px;
  font-size: 15px;
}
header nav a:first-of-type,
header nav a:hover {
  color: #f84e4f;
}
header .menu-bar {
  margin: auto 0;
}
header .search {
  position: relative;
}
.search span:first-of-type i {
  color: gray;
  position: relative;
  top: 2px;
  left: 30px;
}
header .search input {
  display: inline-block;
  outline: none;
  width: 200px;
  height: 30px;
  background: #fff;
  border: none;
  padding-left: 30px;
  box-shadow: rgb(119, 119, 119) 3px 4px 20px -12px;
}
header .search input::placeholder {
  color: black;
  transition: 0.3s;
}
header .search input:focus::placeholder {
  color: transparent;
}
.search span:last-of-type i {
  font-size: 20px;
  padding-left: 20px;
  position: relative;
  top: 5px;
}
.search span:last-of-type::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 10px;
  height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.299);
}
.search span:last-of-type::after {
  content: "2";
  position: relative;
  top: -20px;
  left: 5px;
  display: inline-block;
  background-color: #f84e4f;
  color: #fff;
  border-radius: 50%;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 13px;
  box-shadow: -1px 4px 10px -2px #f84e4f;
}
header .bar {
  display: none;
}
header .bar i {
  border: 1px solid rgba(128, 128, 128, 0.495);
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
}
div[class^="group-"] {
  margin: 100px 20px;
}
/*Group-1*/
.group-1,
.group-3,
.group-4 {
  margin: 20px;
}

.group-1 .group-image img,
.group-3 .group-image img,
.group-4 .group-image img {
  max-width: 100%;
}
.group-1 .info > span {
  display: inline-block;
  border-radius: 99px;
  background: #fdecec;
  color: #f84e4f;
  padding: 10px;
}
.group-1 .info > span::after {
  content: url(./images/strawberry.svg);
  position: relative;
  top: 5px;
  padding: 10px;
}
.group-1 .info h2 span {
  color: #f84e4f;
  font-weight: 300;
}
.group-1 .info h2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  margin: 20px 0;
}
.group-1 .info p {
  max-width: 80%;
  color: gray;
  margin: 20px 0;
}
.group-1 button:first-of-type,
.group-3 button,
.group-4 button {
  color: #fff;
  background: #f84e4f;
  border-radius: 10px;
  border: 1px solid #f84e4f;
  padding: 20px 30px;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.group-1 button:first-of-type:hover,
.group-3 button:hover,
.group-4 button:hover {
  background-color: #fff;
  color: #f84e4f;
  border: 1px solid #f84e4f;
}
.group-1 button:last-of-type {
  margin-left: 10px;
  padding: 30px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.group-1 button:last-of-type:hover {
  opacity: 0.7;
}
.group-1 button:last-of-type span {
  color: orange;
  font-size: initial;
  border-radius: 50%;
  margin-right: 10px;
  padding: 20px 23px;
  box-shadow: 0px 7px 20px -10px gray;
}
/*Group-2*/
.group-2 {
  background-color: #fdecec;
  text-align: center;
  padding: 100px 0;
}
.group-2 span {
  color: #f84e4f;
}
.group-2 h2 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.814);
}
.group-2 .service-list {
  position: relative;
}
.service-list .content {
  position: relative;
  display: inline-block;
  margin: 20px 0;
}
.content .option {
  position: relative;
  display: inline-block;
  background-color: #fff;
  width: 330px;
  height: 350px;
  padding: 50px;
  border-radius: 10px;
  z-index: 2;
}
.service-list .option img {
  max-width: 120px;
  min-height: 80px;
}
.service-list .option h3 {
  margin: 40px 0 10px 0;
  font-size: 25px;
}
.content .bg {
  position: absolute;
  background-color: #f84e4e;
  display: inline-block;
  top: 0;
  left: 0;
  width: 330px;
  height: 350px;
  border-radius: 10px;
  transform-origin: top left;
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s, top 0.3s, left 0.3s;
  z-index: 1;
}
.service-list .option:hover ~ .bg {
  transform: rotate(-3deg) scale(1.02);
  opacity: 1;
  top: 10px;
  left: 10px;
}
/*group-3, group-4*/
.group-3,
.group-4 {
  display: flex;
  justify-content: center;
}
.group-3 .info h2,
.group-4 .info h2,
.group-5 .info h2,
.group-3 .info p,
.group-4 .info p,
.group-5 .info p {
  opacity: 0.8;
}
.group-3 .info h2,
.group-4 .info h2 {
  font-size: 40px;
}
.group-3 p,
.group-4 p {
  margin: 30px 0;
}
.group-3 .info span {
  color: #03a66b;
}
.group-4 .info span {
  color: orange;
}
/*Group-5*/
.group-5 {
  background-color: #fdecec;
  padding: 100px 30px;
}
.group-5 .group-image {
  text-align: center;
}
.group-5 .group-image img {
  max-width: 80%;
}
.group-5 .info span {
  color: #f84e4f;
}
.group-5 .info h2 {
  font-size: 40px;
  opacity: 0.8;
}
.group-5 .info p {
  margin: 20px 0;
  opacity: 0.8;
}
.group-5 .info button {
  padding: 10px 20px;
  background-color: #fdecec;
  border: 1px solid rgba(128, 128, 128, 0.399);
  border-radius: 10px;
  margin: 50px 10px;
  cursor: pointer;
}
.group-5 .info button span {
  color: #000;
  font-size: 25px;
  margin-left: 10px;
  position: relative;
  top: -12px;
}
/*Group-6*/
.group-6 .aside p {
  margin-top: 20px;
}
.group-6 p {
  color: gray;
}
.group-6 ul {
  list-style: none;
}
.group-6 .column span {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 30px;
}
.group-6 ul li {
  margin-bottom: 20px;
}
.group-6 ul li a {
  text-decoration: none;
  color: gray;
}
.group-6 ul li a:hover {
  color: black;
}
/*Footer*/
footer {
  margin: 30px;
  color: gray;
  font-size: 14px;
}
footer nav {
  position: absolute;
  right: 30px;
}
footer nav a {
  text-decoration: none;
  color: gray;
  margin: 0 10px;
}
footer nav a:hover {
  color: #000;
}

/*responsive*/

@media screen and (max-width: 992px) {
  /*header*/
  header .bar {
    display: inline-block;
    position: absolute;
    right: 0;
  }
  header .menu-bar nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  header .menu-bar,
  header .search {
    display: none;
  }
  header input:checked ~ .col-md-12 .menu-bar,
  header input:checked ~ .col-md-12 .search {
    display: flex;
    justify-content: center;
  }
  .group-1 .group-image,
  .group-3 .group-image,
  .group-4 .group-image {
    max-width: 80%;
    margin: 0 auto;
  }
  .group-1 .info h2,
  .group-3 .info h2,
  .group-4 .info h2,
  .group-5 .info h2 {
    font-size: 40px;
    max-width: 600px;
  }
  .group-6 {
    text-align: center;
  }
  .group-6 span {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .group-1 .info,
  .group-3 .info,
  .group-4 .info,
  .group-5 .info {
    text-align: center;
  }
  .group-1 .info h2,
  .group-1 .info p,
  .group-3 .info h2,
  .group-3 .info p,
  .group-4 .info h2,
  .group-4 .info p,
  .group-5 .info h2,
  .group-5 .info p {
    max-width: 100%;
  }
}
