* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body {
  margin: 10px 100px;
  color: #4d4436;
}
section h3::after {
  content: "";
  position: relative;
  top: -0.25em;
  margin-left: 10px;
  display: inline-block;
  width: 100vh;
  border: 1px solid #d6d1d1;
  border-width: 1px;
}
/*menu bar*/
button {
  color: #4d4436;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  background-color: rgb(198, 196, 196);
  padding: 8px 20px;
  margin: 20px 10px 20px 0;
}
button span {
  display: block;
  padding-top: 5px;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
}
button:hover,
button:focus {
  color: white;
  background-color: #ae7b37;
}
/*list hình ảnh*/
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}
div[class^="row"] {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
div[class^="area"] {
  display: inline-block;
  width: 30%;
  height: 200px;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 20px 20px;
  color: white;
  background-image: url(https://picsum.photos/400/400);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
div[class^="area"] p {
  position: relative;
  top: 7em;
}
div[class^="area"] p span {
  font-size: 1.2em;
  font-weight: 700;
}
div[class^="area"] h4 {
  font-size: 1.5em;
}
div[class^="area"]:hover {
  border: solid 3px #ae7b37;
  box-shadow: 5px 5px 5px 5px #ae7b37;
}
