* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Asap", sans-serif;
}
section {
  background-image: url(https://i1-kinhdoanh.vnecdn.net/2021/12/08/Anh-4619-1638934373.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=Fp8KXgBm4O4-aTAUlSAXzA);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: 55%;
}
.logo {
  width: 200px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 50px 50px;
  position: relative;
  top: 8em;
  left: 5em;
}
.info {
  position: relative;
  top: -1em;
  left: 18em;
  color: white;
}
.info p {
  display: inline-block;
  margin: 20px 20px;
}
.info h2 {
  margin-left: 20px;
}
.info span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: -1px;
}
/*thanh menu*/
.menu {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: fit-content;
  padding-right: 50px;
  position: relative;
  top: 0em;
}
.menu span {
  float: right;
  padding: 15px 20px;
  font-weight: 700;
}
.menu span:hover,
.menu span:focus {
  color: orange;
}
.menu span:hover::after,
.menu span:focus::after {
  display: inline-block;
  content: "";
  width: 100%;
  border: 2px solid orange;
  color: orange;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
}
