* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
h2 {
  font-weight: 700;
  padding: 10px 0;
}
.item {
  width: 350px;
  height: 280px;
  border: 2px solid rgba(128, 128, 128, 0.422);
  padding: 50px 30px;
  position: relative;
}
.background .info > i {
  color: #bd998a;
  font-size: 33px;
}
.item:hover .background .info > i {
  display: none;
}
.item:hover {
  background-image: url(https://www.skillcast.com/hubfs/YoungPeopleBusinessMeeting_1200x627.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border: none;
}
.item:hover .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(206, 0, 0, 0.682);
  padding: 10px 30px;
  display: none;
  transition: all 1s ease-in-out;
}
.item:hover span {
  display: inline-block;
}
.item:hover .info {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.212);
  margin: 5px -20px 10px -20px;
  height: 100%;
  padding: 10px;
  display: none;
}
.item:hover .background,
.item:hover .info {
  display: inline-block;
}
span button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  border: white solid 2px;
  margin-left: 5px;
  cursor: pointer;
  background-color: rgba(206, 0, 0, 0.682);
}
span button:hover {
  background-color: white;
  border: none;
  color: black;
}
span {
  padding-top: 70px;
  display: none;
}
.list {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
  margin: 20px 5em;
}
