@import "reset";
@import "variables";
@import "mixins";

body {
  font-family: "Sofia Sans", sans-serif;
}
input {
  outline: none;
  border: none;
  font-family: inherit;
}
a {
  text-decoration: none;
}
.home-page {
  position: relative;
  display: grid;
  width: 1500px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "aside header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
}

.aside {
  grid-area: aside;
  padding: 53px 0 0 58px;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 31px;
    font-weight: 800;
    margin: 58px auto 46px 0;
  }
  nav {
    display: flex;
    flex-direction: column;
    row-gap: 29px;
    a {
      display: flex;
      align-items: center;
      column-gap: 10px;
      @include text;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
  .help-center {
    display: flex;
    align-items: center;
    column-gap: 17px;
    position: sticky;
    bottom: 20px;
    margin-top: auto;
    cursor: pointer;
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 48px 54px 48px 0;
  row-gap: $item-gap;
  .header_head {
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    i {
      border: 1px solid gray;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      margin-right: 20px;
    }
  }
  .search {
    margin-right: auto;
    label {
      display: flex;
      align-items: center;
      input {
        margin-left: 18px;
        font-size: 18px;
      }
      &::placeholder {
        font-size: 18px;
        font-weight: 600;
        color: #f0f0f084;
      }
    }
  }
  nav {
    display: flex;
    column-gap: 44px;
    a {
      @include text;
      font-size: 18px;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: black;
        margin-top: 6px;
      }
      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
  }
  .action {
    display: flex;
    align-items: center;
    column-gap: 26px;
    margin-left: 49px;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  gap: $item-gap;
  margin-bottom: 30px;
  [class^="group-"] {
    width: 565px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: $item-gap;
    .image-tall {
      height: 100%;
      width: calc(50% - $item-gap / 2);
    }
    .image-wide {
      width: 100%;
      height: calc(50% - $item-gap / 2);
    }
    [class^="image-"] {
      border-radius: 10px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .home-page {
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "main main main main"
      "main main main main";
  }
  .header {
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    .search {
      margin: 0 auto;
      translate: 10% 0;
    }
    .header_head {
      display: flex;
    }
    nav {
      flex-direction: column;
      a {
        display: inline-block;
        width: fit-content;
        margin: 10px auto;
      }
    }
    .action {
      margin: 0;
    }
  }

  #box:checked ~ .aside {
    display: flex;
    translate: 0 0;
  }
  #box:checked ~ .overlay {
    position: absolute;
  }
  .overlay {
    z-index: 1;
    inset: 0;
    background-color: rgba(128, 128, 128, 0.484);
  }
  .aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    translate: -100% 0;
    display: flex;
    transition: translate 0.2s;
    transition-delay: 0.3s;
    background-color: white;
    height: 100%;
    padding-right: 20px;
  }
  .main {
    justify-content: center;
  }
}
